<!-- protege.home = the Protege 3.x installation directory, e.g., /home/user/Protege_3.4  -->
protege.home=.

<!-- The fully specified filename of the ICD umbrella PPRJ file, e.g., home/ttania/projects/icd_umbrella.pprj -->
pprj.file=resources/projects/icd/icd_umbrella.pprj

<!-- The CSV file containing the index term migration information -->
csv.intexTerms.file=resources/xls/index_terms_20120321.csv

<!-- Maximum Java heap size --> 
heap.size.max=2500m
